// Colors

:root {
    // Primary 
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    
    --light-red-alpha: hsla(0, 100%, 67%, 0.1);
    --orangey-yellow-alpha: hsla(39, 100%, 56%, 0.1);
    --gren-teal-alpha: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue-alpha: hsla(234, 85%, 45%, 0.1);

    // Gradients 
    --bg-light-slate-blue: hsl(252, 100%, 67%);
    --bg-light-royal-blue: hsl(241, 81%, 54%);

    --circle-violet-blue: hsla(256, 72%, 46%, 1);
    --circle-persian-blue: hsla(241, 72%, 46%, 0);

    // Neutral 
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// font
@font-face {
    font-family: 'HankenGrotesk';
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 500, 700, 800;
}   

body{
    font-family: 'HankenGrotesk';
    font-size: 18px; // p
    color: var(--dark-gray-blue);
    font-weight: 500;
}
h1, h2{
    color: var(--white);
}

h1 {
    font-size: clamp(48px, 8vw, 56px);
}
h2 {
    font-weight: 700;
}
h3 {
    font-size: 24px;
    font-weight: 700;
}

.container{
    background-color: var(--pale-blue);
}

.card{
    background-color: var(--white);
}

.result{
    background: linear-gradient(var(--bg-light-slate-blue), var(--bg-light-royal-blue));
    // background: linear-gradient(var(--circle-violet-blue), var(--bg-light-royal-blue));
    padding: 32px;
    border-radius: 0 0 32px 32px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--light-lavender);


    &__circle {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(var(--circle-violet-blue), transparent);

        /* background: var(--bg-light-royal-blue); */
        // background: linear-gradient(var(--circle-violet-blue), var(--bg-light-royal-blue));
        // background: linear-gradient(var(--bg-light-slate-blue), var(--bg-light-royal-blue));
    }

    &__description {
        font-size: 16px;
        max-width: 270px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
    }
}


.summary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    gap: 15px;

    &__item-info {
        display: inline-flex;
        gap: 15px;
    }
    &__item {
        display: inline-flex;
        padding: 0 16px;
        justify-content: space-between;
        height: 55px;
        border-radius: 12px;
        align-items: center;
        background: aliceblue;    


        &--reaction {
            color:var(--light-red); 
            background: var(--light-red-alpha)
        }
        &--memory{
            color: var(--orangey-yellow);
            background: var(--orangey-yellow-alpha);
            
        }
        &--verbal{
            color: var(--green-teal);
            background: var(--gren-teal-alpha);
        }
        &--visual{
            color: var(--cobalt-blue);
            background-color: var(--cobalt-blue-alpha);
        }

    }

    &__item-score{
        font-weight: 700;
        color: var(--dark-gray-blue);
        span{
            color: black;
        }
    }
    
}

button {
    height: 55px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    font-family: inherit;
    color: var(--white);
    background: var(--dark-gray-blue);
    cursor: pointer;
    &:hover{
        background: linear-gradient(var(--bg-light-slate-blue), var(--bg-light-royal-blue));
    }
}


// media query
@media (min-width:768px) {
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        justify-content: center;
        width: fit-content;
        border-radius: 32px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }


    .result__circle {
        width: 180px;
        height: 180px;
    }


    .result {
        border-radius: inherit;
    }

    .summary__item {
        gap: 50px;
    }
}